page-detail {

}
.tips{
    // width: 120px;
    margin-right: 10px;
    color:#F53D3D;
}
.tipTitle{
    font-weight: bold;
    margin-right: 10px;
}
.spec-item{
    border-bottom:1px solid #333;
    text-align: center;
}
.spec-title{
    border-bottom:1px solid #333;
    color:#F53D3D;
    margin-top:20px; 
}
.toolbar-title-md>b{
    color:#F53D3D;
}
.spec-detail{
    text-align: center;
}